<div class="post">
  <div class="post-header">
    <img
      class="post-header__img"
      src="img/user-woman.jpg"
      alt="User profile picture"
    />
    <p class="post-header__name">eileengraves</p>
    <a href="#">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </a>
  </div>
  <div class="post-image">
    <img src="img/posts/post-3.jpg" alt="Post image" />
  </div>
  <nav class="post-nav">
    <ion-icon name="heart-outline"></ion-icon>
    <ion-icon name="chatbubble-outline"></ion-icon>
    <ion-icon name="paper-plane-outline"></ion-icon>
    <ion-icon name="bookmark-outline"></ion-icon>
  </nav>
</div>
