.sidebar {
  width: 29.4rem;
  position: fixed;
  padding-top: 2.8rem;
}

.sidebar-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__img {
    height: 5.6rem;
    width: 5.6rem;
    border-radius: 50%;
    margin-right: 2.4rem;
  }

  &__name {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-right: auto;
  }

  &__name-id {
    font-weight: 600;
  }
  &__name-full {
    color: #8e8e8e;
  }
}
